<% @currency_pairs.keys.sort.each do |key| %>
  <% pair = @currency_pairs[key] %>
  <div class="currency_ticker" data-ticker-name="<%= key %>">
    <div class="ticker_code">
      <h2><%= pair["altname"] %></h2>
    </div>
    <div class="ticker_trades">
      <p class="ticker_last_trade">Last trade <span data-ticker-last-price></span> vol <span data-ticker-last-volume></span></p>
    </div>
    <div class="ticker_book">
      <p class="ticker_ask">Ask <span data-ticker-ask-price></span></p>
      <p class="ticker_bid">Bid <span data-ticker-bid-price></span></p>
    </div>
    <div class="ticker_24h">
      <p class="ticker_24h">24H avg <span data-ticker-price-24h></span></p>
      <p class="ticker_24h_volume">24H volume <span data-ticker-volume-24h></span></p>
    </div>
    <div class="ticker_24h_range">
      <p class="ticker_high_24h">24H high <span data-ticker-high-24h></span></p>
      <p class="ticker_low_24h">24H low <span data-ticker-low-24h></span></p>
    </div>
  </div>
<% end %>
