// Place all the styles related to the base controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chat-text {
  overflow: auto;
  height: 500px;
}

.currency_pairs {
  width: 45%; 
  float: left;
}

.messages {
  width: 45%;
  float: right;
}

.currency_ticker {
  position: relative;
  display: table;
  width: 100%;
  margin: 2px;
  padding: 2px;
  border: 1px solid #ccc;
}

.currency_ticker h2 {
  font-size: 1.1em;
  font-weight: bold;
}

.currency_ticker p {
  margin: 0;
  padding: 0;
  color: #999;
  font-size: 0.8em;
  text-align: center;
  text-transform: uppercase;
}

.currency_ticker>div {
  float:left;
  width: 20%;
}

.currency_ticker span {
  display: block;
}

.currency_ticker div {
  /*position: absolute;*/
}

.currency_ticker .ticker_last_trade span[data-ticker-last-price] {
  /*display: block;*/
  font-size: 1.9em;
}
.currency_ticker .ticker_last_trade span[data-ticker-last-volume] {
  display: inline;
}
.currency_ticker .ticker_24h {
}
.currency_ticker .ticker_low_24h {
}
.currency_ticker .ticker_high_24h {
}
